/omi/sawtooth_omi/protobuf/
/docs/build/
/docs/source/_autogen/
/js/node_modules
/js/dependencies
/js/docs
/js/lib/protobuf/protobuf_bundle.json
/examples/webclient/node_modules
/examples/webclient/dist
/examples/server/node_modules
