/omi/sawtooth_omi/protobuf/
/docs/build/
/docs/source/_autogen/
/node_modules
/omi-client/dependencies
/omi-client/docs
/omi-client/lib/protobuf/protobuf_bundle.json
/examples/webclient/node_modules
/examples/webclient/dist
/examples/server/node_modules
